<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">地址管理</div>
<div ui-content-for="navbarAction">
    <span class="btn" ng-click="submit()">确定</span>
</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-content bg-gray-lighter">
        <div class="list-group">
            <div class="list-group-item address-item">
                <label>
                    姓名
                </label>
                <input type="text" placeholder="请输入联系人姓名" ng-model="input.username" required>
            </div>
            <div class="list-group-item address-item">
                <label>
                    手机号码
                </label>
                <input type="text" placeholder="请输入手机号码" ng-model="input.telephone" required>
            </div>
            <div class="list-group-item address-item" ng-click="query_province()">
                <label>
                    所在地区
                </label>
                <span>{{input.province_city_district||"请选择省市区"}}</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </div>
            <div class="list-group-item address-item">
                <label>
                    详细地址
                </label>
                <input type="text" placeholder="请详细到门牌号" ng-model="input.street" required>
            </div>
        </div>
        <p class="section section-lg text-primary">请注意：国际速运只需填写收件人的姓名以及联系方式</p>
        <div class="list-group">
            <div class="list-group">
                <div class="list-group-item clearfix">
                    <span class="pull-left">历史地址</span>
                    <span class="pull-right">清空历史</span>
                </div>
            </div>
        </div>
    </div>
</div>
