<div ui-content-for="backAction">
    <div class="btn sidebar-toggle" ui-toggle="uiSidebarLeft">
        <i class="kk kk-sidebar-0"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content bg-white">
        <div class="list-group">
            <div class="list-group-item" ng-click="query_address('from')">
                <div class="send-input">
                    <span>{{from||"请输入寄件人详细地址"}}</span>
                    <span class="kk kk-ji-small"></span>
                    <i class="fa fa-chevron-right pull-right text-gray-lighter"></i>
                </div>
            </div>
            <div class="list-group-item" ng-click="query_address('to')">
                <div class="send-input">
                    <span>{{to||"请输入收件人详细地址"}}</span>
                    <span class="kk kk-shou-small"></span>
                    <i class="fa fa-chevron-right pull-right text-gray-lighter"></i>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="btn-group justified">
                <label for="k1" class="btn">
                    <i class="kk kk-radio"  ng-class="{'active':express.type=='普通件'}"></i>
                    <input type="radio" id="k1" ng-model="express.type" class="hidden" value="普通件">
                    普通件
                </label>
                <label for="k2" class="btn">
                    <i class="kk kk-radio" ng-class="{'active':express.type=='加急件'}"></i>
                    <input type="radio" id="k2" ng-model="express.type" class="hidden" value="加急件">
                    加急件
                </label>
                <label for="k3" class="btn">
                    <i class="kk kk-radio" ng-class="{'active':express.type=='国际速运'}"></i>
                    <input type="radio" id="k3" ng-model="express.type" class="hidden" value="国际速运">
                    国际速运
                </label>
            </div>
            <p></p>
            <div class="section">
                <button type="button" ng-click="submit()" ng-disabled="!to || !from" class="btn btn-primary btn-lg block full-width">预约寄件</span>
            </div>
            <div class="section-tip">
                温馨提示：请填写正确的联系方式，预约成功后我们的工作人员将会在10分钟内联系你。
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal share-panel" ui-if='share_panel' ui-state='share_panel'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="list-group text-center">
                        <div class="list-group-item">
                            <div class="btn-group justified">
                                <span class="btn">
                                    <i class="kk kk-weixin"></i>
                                    <span class="block text-center">微信好友</span>
                                </span>
                                <span class="btn">
                                    <i class="kk kk-weixin-friend"></i>
                                    <span class="block text-center">朋友圈</span>
                                </span>
                                <span class="btn">
                                    <i class="kk kk-qq"></i>
                                    <span class="block text-center">QQ好友</span>
                                </span>
                                <span class="btn">
                                    <i class="kk kk-weibo"></i>
                                    <span class="block text-center">新浪微博</span>
                                </span>
                            </div>
                        </div>
                        <div class="list-group-item" ui-turn-off="share_panel">
                            <span class="text-primary">取消</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-share" ui-turn-off="share_panel"></div>
    </div>
</div>