<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">录入运单号</div>
<div ui-content-for="navbarAction">右侧菜单</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">取消</span>
</div>
<div class="scrollable">
    <div class="scrollable-content bg-white">
        <form class="section section-lg" name="recordForm" ng-submit="submit()">
            <div class="input-mark">
                <input type="text" ng-model="input.ex_number" required placeholder="请输入运单号查询运单信息">
                <span class="kk kk-scan"></span>
            </div>
            <button type="submit" class="btn btn-lg full-width block btn-primary" ng-disabled="recordForm.$invalid">录入</button>
        </form>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal" ui-if="confirm_panel" ui-state='confirm_panel'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ui-turn-off="confirm_panel">&times;</button>
                    <h4 class="modal-title text-center">温馨提示</h4>
                </div>
                <div class="modal-body text-center">
                    <p>{{message}}</p>
                </div>
                <div class="modal-footer text-center">
                    <div class="btn-group justified">
                        <span ui-turn-off="confirm_panel" class="btn btn-default">取消</span>
                        <span ng-click="confirm_record_in()" class="btn btn-primary">确定</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>