<div class="scrollable">
    <div class="scrollable-content">
        <banner data-rate="750/265">
        	<imageview data-rate="750/265" src="banner" ng-repeat="banner in banners" on-repeat-done></imageview>
        </banner>
        <div class="section section-lg">
        	<div class="input-mark">
        		<input type="text" placeholder="请输入运单号查询运单信息">
        		<span class="kk kk-scan"></span>
        	</div>
        	<span class="btn btn-lg full-width block btn-primary">查询</span>
        </div>
        <p></p>
        <div class="list-group">
        	<div class="list-group-item clearfix">
        		<span class="pull-left">查件历史</span>
        		<span class="pull-right">清空历史</span>
        	</div>
        	<div class="list-group-item">
        		圆通速递7000100684253
        	</div>
        </div>
    </div>
</div>
