<!-- by dribehance <dribehance.kksdapp.com> -->
<div ui-content-for="title">设置</div>
<div ui-content-for="navbarAction"></div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()"><i class="fa fa-chevron-left"></i></span>
</div>
<div class="scrollable">
	<div class="scrollable-content bg-white">
		<div class="list-group">
			<a class="list-group-item" href="http://kksdapp.com">
				访问官网
				<i class="fa fa-chevron-right pull-right text-gray-light"></i>
			</a>
			<a class="list-group-item" href="http://kksdapp.com">
				App Store 评论支持我们
				<i class="fa fa-chevron-right pull-right text-gray-light"></i>
			</a>
		</div>
		<div class="section text-center">
			<p>深圳超级店小二科技有限公司</p>
			<span>@copyright 版权所有</span>
		</div>
	</div>
</div>