<div class="scrollable">
    <div class="scrollable-content">
        <div class="sidebar-avatar">
            <div flow-init="{singleFile:true}" ng-controller="avatarController" ng-if="user.image_01">
                <img flow-btn flow-attrs="{accept:'image/*'}" flow-img="$flow.files[0]" ng-src="{{staticImageUrl + user.image_01}}" err-src="../images/avatar_default.png" alt="" class="needsclick block full-width">
            </div>
            <imageview src="'../images/avatar_default.png'" data-rate="1" ng-if="!user.image_01"></imageview>
        </div>
        <p class="text-center sidebar-avatar-p" ng-click="login()" ng-if="!user.user_id">
            点击登录
        </p>
        <p class="text-center sidebar-avatar-p" ng-if="user.user_id">
            {{user.telephone}}
        </p>
        <div class="list-group sidebar-list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/third">
            	<i class="kk kk-sidebar-1 pull-left"></i>
                <span class="list-group-item-text">我的快件</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
            <a class="list-group-item" href="#/message">
            	<i class="kk kk-sidebar-2 pull-left"></i>
                <span class="list-group-item-text">我的消息</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
            <a class="list-group-item" href="#/feedback">
            	<i class="kk kk-sidebar-3 pull-left"></i>
                <span class="list-group-item-text">意见反馈</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
            <a class="list-group-item" ui-turn-on="share_panel">
            	<i class="kk kk-sidebar-4 pull-left"></i>
                <span class="list-group-item-text">推荐给朋友</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
            <a class="list-group-item" href="#/setting">
            	<i class="kk kk-sidebar-5 pull-left"></i>
                <span class="list-group-item-text">系统设置</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
            <a class="list-group-item" ng-click="logout()" ng-if="user.user_id">
            	<i class="kk kk-sidebar-6 pull-left"></i>
                <span class="list-group-item-text">退出登录</span>
                <i class="fa fa-chevron-right pull-right text-gray-light"></i>
            </a>
        </div>
    </div>
</div>
