<div ui-content-for="title">
    <span ui-toggle="dropdown_panel">我的快件 <i class="fa fa-chevron-down"></i></span>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="btn-group justified express-group">
            <span class="btn" ng-class="{'active':express.state=='1'}" ng-click="change_state('1')">
                待取件
            </span>
            <span class="btn" ng-class="{'active':express.state=='2'}" ng-click="change_state('2')">
                运送中
            </span>
            <span class="btn" ng-class="{'active':express.state=='3'}" ng-click="change_state('3')">
                已送达
            </span>
            <span class="btn" ng-class="{'active':express.state=='4'}" ng-click="change_state('4')">
                已失效
            </span>
        </div>
    </div>
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item clearfix" ng-click="query_record_detail(record)" ng-repeat="record in records">
                <div class="express-item">
                    <i class="kk pull-left" ng-class="{'kk-ji-big ':record.sendOrReceive ==2,'kk-shou-big':record.sendOrReceive==1}"></i>
                    <i class="fa fa-chevron-down pull-right text-gray-light"></i>
                    <div class="item-center">
                        <b class="title">{{record.send_city}}</b>
                        <i class="kk kk-to"></i>
                        <b class="title">{{record.collect_city}}</b>
                    </div>
                    <div class="item-center">
                        <b class="title">{{record.send_name}}</b>
                        <i class="kk kk-to" style="background:none"></i>
                        <b class="title">{{record.collect_name}}</b>
                    </div>
                    <p></p>
                    <div class="item-center" ng-if="record.send_status!=1">运单号：{{record.ex_number}}</div>
                    <div class="item-center clearfix" ng-if="record.send_status ==1">
                        <span class="btn btn-default" ng-click="record_in($event,record.send_id)">录入运单号</span>
                    </div>
                    <p></p>
                    <div class="item-center">
                        <b>{{get_text(record.send_status)}}</b>
                    </div>
                    <div class="item-center">
                        {{record.real_time}}
                        <span class="pull-right" ng-click="cancel(record.send_id,$event)" ng-if="record.send_status ==1">取消</span>
                        <span class="pull-right" ng-click="remove(record.send_id,$event)" ng-if="record.send_status ==3 || record.send_status ==4">删除</span>
                    </div>
                </div>
                <div class="express-item-detail" ng-if="collapse_id == record.send_id">
                    <ul id="result" class="result-list">
                        <li class="" ng-repeat="rs in result track by $index" ng-class="{'first':$first,'last':$last}">
                            <div class="col1">
                                <dl>
                                    <dt>{{get_date(rs.time)}}</dt>
                                    <dd>{{get_time(rs.time)}}</dd>
                                </dl>
                            </div>
                            <div class="col2"><span class="step"><span class="line1" ng-if="!$first"></span><span class="line2"></span><span class="point"></span></span>
                            </div>
                            <div class="col3">{{rs.context || "暂无信息"}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section text-center" ng-click="loadMore()">
                {{page.message}}
            </div>
        </div>
    </div>
</div>
<div ui-content-for="modals">
    <div class="modal dropdown-panel" ui-if='dropdown_panel' ui-state='dropdown_panel'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="list-group text-center">
                        <div class="list-group-item" ng-click="change_type('1')">
                            <span ng-class="{'active':express.type=='1'}">全部</span>
                        </div>
                        <div class="list-group-item" ng-click="change_type('2')">
                            <span ng-class="{'active':express.type=='2'}">我寄出的</span>
                        </div>
                        <div class="list-group-item" ng-click="change_type('3')">
                            <span ng-class="{'active':express.type=='3'}">寄给我的</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-dropdown" ui-turn-off="dropdown_panel"></div>
    </div>
</div>
